<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

 

<suite name="My_Suite" parallel="tests">


      <test thread-count="5" name="ChromeBrowserTest">
		  
    <classes>

     <!--  <class name="TestClass.TC_001_IndexPage_Test"/>

     

           <class name="TestClass.TC_002_LogInPage_Test"/>-->

           

            <class name="ApploginTest.ApplicationTest"/>

      

      

    </classes>

  </test>

  

</suite>

 

 